body * {
    box-sizing: border-box;
    font-family: 'Bebas Neue', cursive;
    /*border: solid 1px #CCC; 
    width: 75vh;
    height: 75vh;   
    padding: 10px; 
    margin: 10px;*/
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the card.
*/
section {
    box-sizing: border-box;
    border: solid 1px #CCC; 
    width: 75vh;
    height: 100vh;    

}

section h2 {
    margin: 20px;
}

section p {
    margin: 20px;
}

section button {
    margin: 20px;
}

